*{
    background:white;
}

input[type="submit"]{
    background:greenyellow;
    padding: 20px;
    margin:10px;
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 5px;

}
input[type="submit"]:hover{
    background:rgb(10, 8, 8);
    color:white;
}
input[type="text"]{
    padding:5px;
    border: 2px solid black;
}
a{
    display:inline;
    margin:20px;
    color:red;
    margin:auto;
}
button{
    padding:20px;
    background:grey;
    color:black;
    margin-left: 20px;
    margin-bottom: 5px;
    border-radius:5px;
    border-left:none;
}
button:hover{
    background:black;
    color:white;
}
ul{
    background:transparent;
    padding:10px;
    margin-left:10px;
    margin-top:0px;
    width:400px;
    list-style-type: none;
    /* border:1px solid rgb(196, 196, 196); */
}
li{
    border:1px solid  rgb(196, 196, 196);
    padding:15px;
}
i{
    float:right;
}
input.have{
    margin-left:5px;
    padding:10px;
    text-align:left;
    border:none;
    border-bottom:1px solid black;
    width: 585px;
    background: transparent;
}
input.filter{
    margin-left:5px;
    padding:10px;
    text-align:left;
    border:none;
    border-bottom:1px solid black;
    width: 400px;
    background: transparent;
}
.head{
    margin:10px;
    border:1px solid  rgb(196, 196, 196);
}
input.done{
    border:none;
    font-size:20px;
    font-weight:bold;
}
h5{
    padding-left:20px;
    margin-top:20px;
    font-size: 20px;
    margin-bottom:0px;
    font-weight: bold;
}
.h5{
    margin-left:5px;
    padding-left:0px;
}
.card{
    margin:10px;
    border:1px solid  rgb(196, 196, 196);
    width: 600px;
}

*{
        max-width:auto;
}
